* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  color: #ffffff;
}

.Conteiner1 {
  padding-top: 10%;
}

body {
  background-color: #73e6d7;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: #f4d479;
}