*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #ffffff;
}

$color1: #bafb8b;
$color2: #73e6d7;
$color3: #73e6d8;
$color4: #847fff;
$color5: #fe967e;
$color6: #f4d479;

.Conteiner1{
    padding-top: 10%;
}

body{
    background-color: $color2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    background-color: $color6;
}
