*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #ffffff;
}

$color1: #bafb8b;
$color2: #73e6d7;
$color3: #73e6d8;
$color4: #847fff;
$color5: #fe967e;
$color6: #f4d479;

.Carrucel{
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 15vw;
  }

.Conteiner1{
    padding-top: 10%;
}

body{
    background-image: linear-gradient(160deg, #fdffc3 0, #f1ffc0 8.33%, #e3ffbe 16.67%, #d4fcbc 25%, #c4faba 33.33%, #b1f6b9 41.67%, #9df2b9 50%, #87eeba 58.33%, #6eeabd 66.67%, #51e6c2 75%, #24e2c8 83.33%, #00dfd0 91.67%, #00dcd8 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    background-color: $color6;
}
